@model helpers.Models.Persona

<div class="row mb-5">
    <div class="col-12 border p-2">

        <form method="POST">
            <div class="form-group">
                <label>Cédula</label>
                <input asp-for="cedula" class="form-control" style="width:300px;">
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input asp-for="nombre" class="form-control" style="width:300px;">
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input asp-for="apellido" class="form-control" style="width:300px;">
            </div>

            <div class="form-group">
                <label>Edad</label>
                <input asp-for="edad" class="form-control" style="width:300px;">
            </div>

            <div class="form-group">
                <label>Correo</label>
                <input asp-for="correo" class="form-control" style="width:300px;">
            </div>

            <div class="form-group">
                <label>Género </label>
                <select asp-for="genero" class="form-control" style="width:300px;">
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label>Casado</label>
                        <input asp-for="estado" type="radio" value="Casado">
                    </div>
                    <div class="col-3">
                        <label>Soltero</label>
                        <input asp-for="estado" type="radio" value="Soltero">
                    </div>
                    <div class="col-3">
                        <label>Viudo</label>
                        <input asp-for="estado" type="radio" value="Viudo">
                    </div>
                    <div class="col-3">
                        <label>Unión Libre</label>
                        <input asp-for="estado" type="radio" value="Union Libre">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Hobby</label>
                <div class="row">
                    <div class="col-3">
                        <label>VideoJuegos</label>
                        <input  type="radio" asp-for="hobbys"  name="hobbys" value="VideoJuegos" />

                    </div>
                    <div class="col-3">
                        <label>Billar</label>
                        <input type="radio" asp-for="hobbys" name="hobbys" value="Billar" />

                    </div>
                    <div class="col-3">
                        <label>Piscina</label>
                        <input  type="radio" asp-for="hobbys" name="hobbys" value="Piscina" />

                    </div>
                    <div class="col-3">
                        <label>Leer</label>
                        <input type="radio" asp-for="hobbys" name="hobbys" value="Leer" />

                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 btn-block">Enviar</button>

        </form>

    </div>
</div>

@{
    if (!String.IsNullOrEmpty(Model.nombre))
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Estado Civil</th>
                    <th scope="col">HOBBY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Model.cedula</th>
                    <td>@Model.nombre</td>
                    <td>@Model.apellido</td>
                    <td>@Model.edad</td>
                    <td>@Model.telefono</td>
                    <td>@Model.correo</td>
                    <td>@Model.genero</td>
                    <td>@Model.estado</td>
                    <td>@Model.hobbys</td>
                </tr>
            </tbody>
        </table>
    }

}